fastapi
uvicorn
pytest
testcontainers
psycopg2-binary
SQLAlchemy
pymysql
pyodbc
pymongo
redis
redis
pytest-html
rich
pyfiglet
plotly
Flask>=2.2
Flask-Login
Flask-WTF
Flask-SQLAlchemy
psycopg2-binary
python-dotenv
Jinja2
Werkzeug
WeasyPrint
Flask-Admin
Flask-Migrate